:root {
    /* Fixed Syntax: Comments must be inside / * * / or removed from the value line */
    --Light: #f0d9b5;
    --Light-1: #dbdbdb; 
    --Light-2: #bfbfbf; 
    --Dark-1: #b58863;
    --Dark: #000000; 

    --Background: #1a1a2e;
    --Surface: #dbdbdb;
    --Border: #bfbfbf;
    
    /* Board Dimensions */
    --Square-Size: 60px;
}